<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035047860086-qd896dt7m62prt9prd85smt09pjk1buv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035047860086-qd896dt7m62prt9prd85smt09pjk1buv</string>
	<key>API_KEY</key>
	<string>AIzaSyD02E9GYoCS2uYk39uxWvyUamJ8zSxRg3s</string>
	<key>GCM_SENDER_ID</key>
	<string>1035047860086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.elsys.student.LapIt</string>
	<key>PROJECT_ID</key>
	<string>lapit-7a6d9</string>
	<key>STORAGE_BUCKET</key>
	<string>lapit-7a6d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035047860086:ios:53d00d643107609bcb6c57</string>
</dict>
</plist>